.sfondo {
  width: 45%;
  height: auto;
  margin: 0 auto;
}

.verde {
  border: 1px solid rgba(237, 85, 85, 0.954);
  width: 90%;
  margin: 0 auto;
  content: "";
}

#nero {
  border: 1px solid #000;
  width: 95%;
  margin: 10px auto;
  content: "";
}

.scnd {
  margin-bottom: 20px;
}

.boti2 {
  background-color: rgba(243, 243, 150, 0.868);
  color: black;
}

.boti1 {
  background-color: lightblue;
  color: black;
}

.boti3 {
  background-color: rgb(223, 225, 153);
  color: black;
}

.card-img-top {
  width: 75%;
  height: auto;
  margin: 0 auto;
}

.container {
  margin-bottom: 20px;
}

.card-text {
  font-size: 0.9em;
}
