<div>
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row sfondo">
      <img src="../../../assets/img/logoPrinci.jpg" alt="immagine di sfondo" class="imag " />
    </div>
  </div>

  <div class="verde"></div>
  <div id="nero"></div>
  <div class="verde scnd"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card" style="width: 20rem">
          <img src="../../../assets/img/utenti.webp" class="card-img-top" alt="icona utente" />
          <div class="card-body text-center">
            <p class="card-text">Clicca qui per accedere alla sezione Utenti</p>
            <a href="#" routerLink="/lista" class="btn boti1">Utenti</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 20rem">
          <img src="../../../assets/img/clienti.webp" class="card-img-top" alt="icona cliente" />
          <div class="card-body text-center">
            <p class="card-text">Clicca qui per accedere alla sezione Clienti</p>
            <a href="#" routerLink="/clienti" class="btn boti2">Clienti</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 20rem">
          <img src="../../../assets/img/fatture.jpg" class="card-img-top mt-2" alt="icona utente" />
          <div class="card-body text-center ">
            <p class="card-text">Clicca qui per accedere alla sezione Fatture</p>
            <a href="#" routerLink="/fatture" class="btn boti3">Fatture</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
