.navbar {
  font-size: 1.3em;
  border: 3px solid rgba(237, 85, 85, 0.954);
}

.navbar-nav li {
  padding: 8px 13px;
}

.nav-item a {
  text-decoration: none;
  color: rgba(237, 85, 85, 0.954);
  margin-left: 50px;
}

.boti button {
  background-color: rgba(244, 65, 65, 0.954);
  color: black;
  margin: 6px 0 0 90%;
  font-size: 0.8em;
  padding: 5px 15px;
}

.home {
  margin-left: 35px;
}

.casa {
  color: white;
  font-size: 0.9em;
}
